@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('../Images/ekomix/_white_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

img {
  background-color: #eff0f1;
}

button:hover {
  background-color: rgb(239, 239, 239) !important;
}

@media only screen and (max-width: 1025px) {
  a {
    -webkit-tap-highlight-color: transparent; /* For iOS */
    tap-highlight-color: transparent; /* For Android */
  }

  div {
    -webkit-tap-highlight-color: transparent; /* For iOS */
    tap-highlight-color: transparent; /* For Android */
  }
}
