

<div class="fear_section" id="portfolio">
    <div class="section_inner">
        <div class="fear_portfolio swiper-section">
            <div class="fear_main_title">
                <h3>Creative <span class="coloring">Portfolio</span></h3>
            </div>
            <div class="portfolio_list gallery_zoom">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/1.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Sweet Fruit</h3>
                                    <span>Vimeo</span>
                                </div>
                                <a class="fear_full_link popup-vimeo" href="https://vimeo.com/321091335"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/2.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Good Present</h3>
                                    <span>Youtube</span>
                                </div>
                                <a class="fear_full_link popup-youtube"
                                    href="https://www.youtube.com/watch?v=toClS5fCudA"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/3.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Mockup Cream</h3>
                                    <span>Soundcloud</span>
                                </div>
                                <a class="fear_full_link soundcloude_link mfp-iframe audio"
                                    href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/471954807&amp;color=%23ff5500&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/4.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Delicious Apple</h3>
                                    <span>Detail</span>
                                </div>
                                <a class="fear_full_link portfolio_popup" href="#"></a>


                                <!-- Portfolio Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="portfolio_popup_details">
                                        <div class="text">
                                            <p>An apple is an edible fruit produced by an apple tree. Apple
                                                trees are cultivated worldwide and are the most widely grown
                                                species in the genus Malus. The tree originated in Central
                                                Asia, where its wild ancestor, Malus sieversii, is still
                                                found today.</p>
                                            <p>Apples grown from seed tend to be very different from those
                                                of the parents, and the resultant fruit frequently lack
                                                desired characteristics. Generally then, apple cultivars are
                                                propagated by clonal grafting onto rootstocks. Apple trees
                                                grown without rootstocks tend to be larger and much slower
                                                to fruit after planting.</p>
                                        </div>
                                        <div class="additional_images">
                                            <ul class="gallery_zoom">
                                                <li>
                                                    <div class="list_inner">
                                                        <div class="image">
                                                            <img src="img/thumbs/4-2.jpg" alt="" />
                                                            <div class="main" data-img-url="img/portfolio/7.jpg"></div>
                                                            <a class="fear_full_link zoom"
                                                                href="img/portfolio/7.jpg"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="list_inner">
                                                        <div class="image">
                                                            <img src="img/thumbs/4-2.jpg" alt="" />
                                                            <div class="main" data-img-url="img/portfolio/8.jpg"></div>
                                                            <a class="fear_full_link zoom"
                                                                href="img/portfolio/8.jpg"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="list_inner">
                                                        <div class="image">
                                                            <img src="img/thumbs/4-2.jpg" alt="" />
                                                            <div class="main" data-img-url="img/portfolio/9.jpg"></div>
                                                            <a class="fear_full_link zoom"
                                                                href="img/portfolio/9.jpg"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Portfolio Popup Informations -->



                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/5.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Blue Lemon</h3>
                                    <span>Image</span>
                                </div>
                                <a class="fear_full_link zoom" href="img/portfolio/5.jpg"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="img/portfolio/6.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3>Sweet Cheery</h3>
                                    <span>Image</span>
                                </div>
                                <a class="fear_full_link zoom" href="img/portfolio/6.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="fear_swiper_progress fill">
                        <div class="my_pagination_in">
                            <span class="current"></span>
                            <span class="pagination_progress"><span class="all"><span></span></span></span>
                            <span class="total"></span>
                        </div>
                        <div class="my_navigation">
                            <ul>
                                <li><a class="my_prev" href="#"><i class="icon-left-open-1"></i></a></li>
                                <li><a class="my_next" href="#"><i class="icon-right-open-1"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>