<script>
<div class="fear_section animated" id="works">
    <div class="section_inner">
        <div class="fear_news swiper-section">
            <div class="fear_main_title">
                <h3>My <span class="coloring">Projects</span></h3>
            </div>
            <div class="news_list">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/portfolio/1.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/1.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Fear-Admin - CMS & API</a></h3>
                                    <span><a href="#">Content Management System</a></span>
                                </div>
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/2.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Unstoppable Jamstack and Gatsby opportunity</a></h3>
                                    <span><a href="#">Design</a></span>
                                </div>


                                <!-- News Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /News Popup Informations -->


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/3.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Electron framework adds encryption API</a></h3>
                                    <span><a href="#">Media</a></span>
                                </div>


                                <!-- News Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /News Popup Informations -->


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/4.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Sentry for JavaScript monitors release health</a></h3>
                                    <span><a href="#">Technology</a></span>
                                </div>


                                <!-- News Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /News Popup Informations -->


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/5.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Five reasons to begin a Packt subscription</a></h3>
                                    <span><a href="#">Lifestyle</a></span>
                                </div>


                                <!-- News Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /News Popup Informations -->


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="list_inner">
                                <div class="image">
                                    <img src="img/thumbs/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="img/news/6.jpg"></div>
                                    <a class="fear_full_link news_popup" href="#"></a>
                                </div>
                                <div class="details">
                                    <h3><a href="#">Why developers are so divided over WordPress</a></h3>
                                    <span><a href="#">Modern</a></span>
                                </div>


                                <!-- News Popup Informations -->
                                <div class="fear_hidden_content">
                                    <div class="news_popup_details">
                                        <div class="text">
                                            <p>Oki is a leading web design agency with an award-winning
                                                design team that creates innovative, effective websites that
                                                capture your brand, improve your conversion rates, and
                                                maximize your revenue to help grow your business and achieve
                                                your goals.</p>
                                            <p>In today’s digital world, your website is the first
                                                interaction consumers have with your business. That's why
                                                almost 95 percent of a user’s first impression relates to
                                                web design. It’s also why web design services can have an
                                                immense impact on your company’s bottom line.</p>
                                            <p>That’s why more companies are not only reevaluating their
                                                website’s design but also partnering with Kura, the web
                                                design agency that’s driven more than $2.4 billion in
                                                revenue for its clients. With over 50 web design awards
                                                under our belt, we're confident we can design a custom
                                                website that drives sales for your unique business.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /News Popup Informations -->


                            </div>
                        </div>
                    </div>
                    <div class="fear_swiper_progress fill">
                        <div class="my_pagination_in">
                            <span class="current"></span>
                            <span class="pagination_progress"><span class="all"><span></span></span></span>
                            <span class="total"></span>
                        </div>
                        <div class="my_navigation">
                            <ul>
                                <li><a class="my_prev" href="#"><i class="icon-left-open-1"></i></a></li>
                                <li><a class="my_next" href="#"><i class="icon-right-open-1"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>