/*===========================
11.0 *** FOOTER AREA START ***
=============================*/
.footer {
	padding: 50px 0;
	background: #2a2a2a;
  border-top: 2px solid #1616169d;
  background: url(../../assets/images/ekomix/_blue-abstract-comic-bg.jpg) no-repeat;
  background-size: cover;

}

.footer-logo a {
	font-size: 46px;
	font-family: cb;
	color: white;
	text-transform: uppercase;
}

.footer-logo a span {
	color: #d71515;
}

.footer-menu h3,
.footer-action h3 {
	font-size: 24px;
	font-family: cm;
	color: #fff;
	padding-top: 17px;
	text-transform: uppercase;
}

.footer-action h3 {
	padding-bottom: 20px;
}

.footer-menu a {
	display: block;
	font-size: 18px;
	font-family: cr;
	color: #a7a7a7;
	margin-top: 15px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-menu a:hover {
	padding-left: 4px;
	color: #fff;
}

.footer-social {
	padding-bottom: 35px;
}

.footer-social a i {
	color: #a7a7a7;
	font-size: 26px;
	padding-right: 18px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-social a i:hover {
	color: #fff;
}

.footer-download a {
	display: inline-block;
	padding: 17px 40px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-download a.android {
	background: #fff;
	color: #d71515;
	margin-bottom: 20px;
}

.footer-download a.ios {
	background: none;
	color: #fff;
	border: 2px solid #fff;
}

.footer-download a.android:hover,
.footer-download a.ios:hover {
	background: #d71515;
	color: #fff;
	border-color: #d71515;
}

.footer-logo {
	position: relative;
}

.footer-logo img {
	position: absolute;
	top: 95px;
	left: 30px;
	-webkit-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	transform: rotate(-14deg);
}

/*===========================
12.0 *** COPY_RIGHT AREA START ***
=============================*/
.copy_right {
	background: #2a2a2a;
}

.copyright-txt {
	border-top: 2px solid #3d3d3d;
	padding: 30px 0 90px;
}

.copyright-txt p,
.copyright-txt span,
.copyright-txt a {
	font-size: 18px;
	font-family: cr;
	color: #a7a7a7;
}

.copyright-txt a {
	font-size: 19px;
	padding: 0 8px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.copyright-txt a:hover {
	color: #fff;
}

.copyright-txt a.active {
	color: #fff;
}

